@page "/Cart"

@if (userIsLoggedIn && !updatingData)
{
    <RadzenDataGrid Data="@CartProducts" TItem="Entities.CartProduct" Density="@Density.Default" AllowPaging="true" AllowSorting="true">
        <Columns>
            <RadzenDataGridColumn TItem="Entities.CartProduct" Property="Product.Name" Title="Name" />
            <RadzenDataGridColumn TItem="Entities.CartProduct" Property="Product.BrandName" Title="BrandName" />
            <RadzenDataGridColumn TItem="Entities.CartProduct" Property="Product.Price" Title="Price per Unit">
                <Template Context="CartProducts">
                    @string.Format(cultureInfo, "{0:C}", CartProducts.Product.Price)
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Entities.CartProduct" Property="ProductQuantity" Title="Quantity">
                <Template Context="cartProduct">
                    @{
                        int newQuantity = cartProduct.ProductQuantity;
                    }
                    <RadzenNumeric TValue="int" Value="@cartProduct.ProductQuantity" Min="0" Change="@(args => UpdateQuantity(cartProduct, args))" Style="width: 25%" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
    <RadzenCard Class="mt-4" Style="display: inline-block">
        <div class="p-3">
            <h4 class="mb-3">Order summary:</h4>
            <div class="d-flex align-items-center" style="margin-left: 0.5rem">
                <p>Total cart cost: @string.Format(cultureInfo, "{0:C}", cartSum)</p>
                <RadzenButton Click=@(() => Checkout()) Text="Checkout" ButtonStyle="ButtonStyle.Primary" Style="margin-left: 2rem" />
            </div>
        </div>
    </RadzenCard>

}
else if(updatingData)
{
    <h1>Loading....</h1>
}
else
{
    <h1>Cart unavailable, log in to continue...</h1>
}


