@page "/Profile"

@if (userIsLoggedIn)
{
    <RadzenRow JustifyContent="@JustifyContent.Stretch" AlignItems="@AlignItems.Normal" Gap="1.5rem" class="rz-border-info-light" Style="height: 100vh; border: none">
        <RadzenColumn Size="3">
            <RadzenCard Class="mt-0" Style="max-width: 420px; background-color: lightgrey">
                <h3 class="mb-4">User info:</h3>
                <div class="mb-4">
                    <p><strong>Name:</strong></p>
                    <p>@user.Name</p>
                </div>
                <div class="mb-4">
                    <p><strong>Last Name:</strong></p>
                    <p>@user.LastName</p>
                </div>
                <div class="mb-4">
                    <p><strong>Address:</strong></p>
                    <p>@user.Address</p>
                </div>
                <div class="mb-4">
                    <p><strong>City:</strong></p>
                    <p>@user.City</p>
                </div>
                <div class="mb-4">
                    <p><strong>Postal Code:</strong></p>
                    <p>@user.PostalCode</p>
                </div>
                <button type="button" class="btn btn-secondary" @onclick="() => UpdateProfile()">UpdateProfile</button>
            </RadzenCard>
        </RadzenColumn>
        <RadzenColumn Size="9">
            <h3 class="mb-4">Past user orders:</h3>
            <RadzenDataGrid Data="pastUserCarts" TItem="Entities.Cart" Density="@Density.Default" AllowPaging="true" AllowSorting="true">
                <Columns>
                    <RadzenDataGridColumn TItem="Entities.Cart" Property="Id" Title="Ref. number" />
                    <RadzenDataGridColumn TItem="Entities.Cart" Property="CartCost" Title="Cost" />
                    <RadzenDataGridColumn TItem="Entities.Cart" Property="FinishedCartOnDate" Title="Order date and time" />
                    <RadzenDataGridColumn TItem="Entities.Cart">
                        <Template Context="cart">
                            <button type="button" class="btn btn-secondary" @onclick="() => GetCartDetails(cart.Id)">See details</button>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenColumn>
    </RadzenRow>
}
else
{
    <h1>Profile unavailable, log in to continue...</h1>
}
